#  We Rate Dogs

In [484]:
#Importing our necessary libraries
import numpy as np
import pandas as pd
import requests
import tweepy
import matplotlib.pyplot as plt
import seaborn as sns
from pandas.plotting import scatter_matrix

# Gathering

In [3]:
#reading in our twitter archive dataset
tac = pd.read_csv('twitter-archive-enhanced.csv')
tac.head(3)

,tweet_id,in_reply_to_status_id,in_reply_to_user_id,timestamp,source,text,retweeted_status_id,retweeted_status_user_id,retweeted_status_timestamp,expanded_urls,rating_numerator,rating_denominator,name,doggo,floofer,pupper,puppo
0,892420643555336193,NaN,NaN,2017-08-01 16:23:56 +0000,"<a href=""http://twitter.com/download/iphone"" r...",This is Phineas. He's a mystical boy. Only eve...,NaN,NaN,NaN,https://twitter.com/dog_rates/status/892420643...,13,10,Phineas,None,None,None,None
1,892177421306343426,NaN,NaN,2017-08-01 00:17:27 +0000,"<a href=""http://twitter.com/download/iphone"" r...",This is Tilly. She's just checking pup on you....,NaN,NaN,NaN,https://twitter.com/dog_rates/status/892177421...,13,10,Tilly,None,None,None,None
2,891815181378084864,NaN,NaN,2017-07-31 00:18:03 +0000,"<a href=""http://twitter.com/download/iphone"" r...",This is Archie. He is a rare Norwegian Pouncin...,NaN,NaN,NaN,https://twitter.com/dog_rates/status/891815181...,12,10,Archie,None,None,None,None

In [4]:
#Checking for ensure we got our data
tac.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2356 entries, 0 to 2355
Data columns (total 17 columns):
tweet_id                      2356 non-null int64
in_reply_to_status_id         78 non-null float64
in_reply_to_user_id           78 non-null float64
timestamp                     2356 non-null object
source                        2356 non-null object
text                          2356 non-null object
retweeted_status_id           181 non-null float64
retweeted_status_user_id      181 non-null float64
retweeted_status_timestamp    181 non-null object
expanded_urls                 2297 non-null object
rating_numerator              2356 non-null int64
rating_denominator            2356 non-null int64
name                          2356 non-null object
doggo                         2356 non-null object
floofer                       2356 non-null object
pupper                        2356 non-null object
puppo                         2356 non-null object
dtypes: float64(4), int64(3), object(10)
memory usage: 313.0+ KB

In [5]:
#gathering our image prediction data and then reading it into a dataframe
url = 'https://d17h27t6h515a5.cloudfront.net/topher/2017/August/599fd2ad_image-predictions/image-predictions.tsv'
r = requests.get(url)
open('image-predictions.tsv', 'wb').write(r.content)

335079

In [112]:
#read our image predictions file into a dataframe
img_pred = pd.read_csv('image-predictions.tsv',  sep='\t')
img_pred.head(3)

,tweet_id,jpg_url,img_num,p1,p1_conf,p1_dog,p2,p2_conf,p2_dog,p3,p3_conf,p3_dog
0,666020888022790149,https://pbs.twimg.com/media/CT4udn0WwAA0aMy.jpg,1,Welsh_springer_spaniel,0.465074,True,collie,0.156665,True,Shetland_sheepdog,0.061428,True
1,666029285002620928,https://pbs.twimg.com/media/CT42GRgUYAA5iDo.jpg,1,redbone,0.506826,True,miniature_pinscher,0.074192,True,Rhodesian_ridgeback,0.072010,True
2,666033412701032449,https://pbs.twimg.com/media/CT4521TWwAEvMyu.jpg,1,German_shepherd,0.596461,True,malinois,0.138584,True,bloodhound,0.116197,True

In [7]:
#Checking to ensure we got our data
img_pred.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2075 entries, 0 to 2074
Data columns (total 12 columns):
tweet_id    2075 non-null int64
jpg_url     2075 non-null object
img_num     2075 non-null int64
p1          2075 non-null object
p1_conf     2075 non-null float64
p1_dog      2075 non-null bool
p2          2075 non-null object
p2_conf     2075 non-null float64
p2_dog      2075 non-null bool
p3          2075 non-null object
p3_conf     2075 non-null float64
p3_dog      2075 non-null bool
dtypes: bool(3), float64(3), int64(2), object(4)
memory usage: 152.1+ KB

In [8]:
# Initiating the Tweepy API

auth = tweepy.OAuthHandler('cDB0XXvmcuasGpYsdwZmNJA1p', 'H8k47M8ANuT6t2nT1GNCqmqAkCccv7ZBKLjlM0iVlqiK7CEOUC')
auth.set_access_token('1139543476083798016-jxHnoF9LgqzMA0klY4Y1FTbKKnlnrY', 'sHszTJ0f57kJjfolJJXOkp2umtG6kVESm41qDAYr4Udtr')

api = tweepy.API(auth,parser=tweepy.parsers.JSONParser(),
                 wait_on_rate_limit=True,
                 wait_on_rate_limit_notify = True)

In [9]:
# Next we will create a list of tweet ids
tweet_id = tac['tweet_id']
list(tweet_id)

[892420643555336193,
 892177421306343426,
 891815181378084864,
 891689557279858688,
 891327558926688256,
 891087950875897856,
 890971913173991426,
 890729181411237888,
 890609185150312448,
 890240255349198849,
 890006608113172480,
 889880896479866881,
 889665388333682689,
 889638837579907072,
 889531135344209921,
 889278841981685760,
 888917238123831296,
 888804989199671297,
 888554962724278272,
 888202515573088257,
 888078434458587136,
 887705289381826560,
 887517139158093824,
 887473957103951883,
 887343217045368832,
 887101392804085760,
 886983233522544640,
 886736880519319552,
 886680336477933568,
 886366144734445568,
 886267009285017600,
 886258384151887873,
 886054160059072513,
 885984800019947520,
 885528943205470208,
 885518971528720385,
 885311592912609280,
 885167619883638784,
 884925521741709313,
 884876753390489601,
 884562892145688576,
 884441805382717440,
 884247878851493888,
 884162670584377345,
 883838122936631299,
 883482846933004288,
 883360690899218434,
 883117836046086144,
 882992080364220416,
 882762694511734784,
 882627270321602560,
 882268110199369728,
 882045870035918850,
 881906580714921986,
 881666595344535552,
 881633300179243008,
 881536004380872706,
 881268444196462592,
 880935762899988482,
 880872448815771648,
 880465832366813184,
 880221127280381952,
 880095782870896641,
 879862464715927552,
 879674319642796034,
 879492040517615616,
 879415818425184262,
 879376492567855104,
 879130579576475649,
 879050749262655488,
 879008229531029506,
 878776093423087618,
 878604707211726852,
 878404777348136964,
 878316110768087041,
 878281511006478336,
 878057613040115712,
 877736472329191424,
 877611172832227328,
 877556246731214848,
 877316821321428993,
 877201837425926144,
 876838120628539392,
 876537666061221889,
 876484053909872640,
 876120275196170240,
 875747767867523072,
 875144289856114688,
 875097192612077568,
 875021211251597312,
 874680097055178752,
 874434818259525634,
 874296783580663808,
 874057562936811520,
 874012996292530176,
 873697596434513921,
 873580283840344065,
 873337748698140672,
 873213775632977920,
 872967104147763200,
 872820683541237760,
 872668790621863937,
 872620804844003328,
 872486979161796608,
 872261713294495745,
 872122724285648897,
 871879754684805121,
 871762521631449091,
 871515927908634625,
 871166179821445120,
 871102520638267392,
 871032628920680449,
 870804317367881728,
 870726314365509632,
 870656317836468226,
 870374049280663552,
 870308999962521604,
 870063196459192321,
 869988702071779329,
 869772420881756160,
 869702957897576449,
 869596645499047938,
 869227993411051520,
 868880397819494401,
 868639477480148993,
 868622495443632128,
 868552278524837888,
 867900495410671616,
 867774946302451713,
 867421006826221569,
 867072653475098625,
 867051520902168576,
 866816280283807744,
 866720684873056260,
 866686824827068416,
 866450705531457537,
 866334964761202691,
 866094527597207552,
 865718153858494464,
 865359393868664832,
 865006731092295680,
 864873206498414592,
 864279568663928832,
 864197398364647424,
 863907417377173506,
 863553081350529029,
 863471782782697472,
 863432100342583297,
 863427515083354112,
 863079547188785154,
 863062471531167744,
 862831371563274240,
 862722525377298433,
 862457590147678208,
 862096992088072192,
 861769973181624320,
 861383897657036800,
 861288531465048066,
 861005113778896900,
 860981674716409858,
 860924035999428608,
 860563773140209665,
 860524505164394496,
 860276583193509888,
 860184849394610176,
 860177593139703809,
 859924526012018688,
 859851578198683649,
 859607811541651456,
 859196978902773760,
 859074603037188101,
 858860390427611136,
 858843525470990336,
 858471635011153920,
 858107933456039936,
 857989990357356544,
 857746408056729600,
 857393404942143489,
 857263160327368704,
 857214891891077121,
 857062103051644929,
 857029823797047296,
 856602993587888130,
 856543823941562368,
 856526610513747968,
 856330835276025856,
 856288084350160898,
 856282028240666624,
 855862651834028034,
 855860136149123072,
 855857698524602368,
 855851453814013952,
 855818117272018944,
 855459453768019968,
 855245323840757760,
 855138241867124737,
 854732716440526848,
 854482394044301312,
 854365224396361728,
 854120357044912130,
 854010172552949760,
 853760880890318849,
 853639147608842240,
 853299958564483072,
 852936405516943360,
 852912242202992640,
 852672615818899456,
 852553447878664193,
 852311364735569921,
 852226086759018497,
 852189679701164033,
 851953902622658560,
 851861385021730816,
 851591660324737024,
 851464819735769094,
 851224888060895234,
 850753642995093505,
 850380195714523136,
 850333567704068097,
 850145622816686080,
 850019790995546112,
 849776966551130114,
 849668094696017920,
 849412302885593088,
 849336543269576704,
 849051919805034497,
 848690551926992896,
 848324959059550208,
 848213670039564288,
 848212111729840128,
 847978865427394560,
 847971574464610304,
 847962785489326080,
 847842811428974592,
 847617282490613760,
 847606175596138505,
 847251039262605312,
 847157206088847362,
 847116187444137987,
 846874817362120707,
 846514051647705089,
 846505985330044928,
 846153765933735936,
 846139713627017216,
 846042936437604353,
 845812042753855489,
 845677943972139009,
 845459076796616705,
 845397057150107648,
 845306882940190720,
 845098359547420673,
 844979544864018432,
 844973813909606400,
 844704788403113984,
 844580511645339650,
 844223788422217728,
 843981021012017153,
 843856843873095681,
 843604394117681152,
 843235543001513987,
 842892208864923648,
 842846295480000512,
 842765311967449089,
 842535590457499648,
 842163532590374912,
 842115215311396866,
 841833993020538882,
 841680585030541313,
 841439858740625411,
 841320156043304961,
 841314665196081154,
 841077006473256960,
 840761248237133825,
 840728873075638272,
 840698636975636481,
 840696689258311684,
 840632337062862849,
 840370681858686976,
 840268004936019968,
 839990271299457024,
 839549326359670784,
 839290600511926273,
 839239871831150596,
 838952994649550848,
 838921590096166913,
 838916489579200512,
 838831947270979586,
 838561493054533637,
 838476387338051585,
 838201503651401729,
 838150277551247360,
 838085839343206401,
 838083903487373313,
 837820167694528512,
 837482249356513284,
 837471256429613056,
 837366284874571778,
 837110210464448512,
 837012587749474308,
 836989968035819520,
 836753516572119041,
 836677758902222849,
 836648853927522308,
 836397794269200385,
 836380477523124226,
 836260088725786625,
 836001077879255040,
 835685285446955009,
 835574547218894849,
 835536468978302976,
 835309094223372289,
 835297930240217089,
 835264098648616962,
 835246439529840640,
 835172783151792128,
 835152434251116546,
 834931633769889797,
 834786237630337024,
 834574053763584002,
 834477809192075265,
 834458053273591808,
 834209720923721728,
 834167344700198914,
 834089966724603904,
 834086379323871233,
 833863086058651648,
 833826103416520705,
 833732339549220864,
 833722901757046785,
 833479644947025920,
 833124694597443584,
 832998151111966721,
 832769181346996225,
 832757312314028032,
 832682457690300417,
 832645525019123713,
 832636094638288896,
 832397543355072512,
 832369877331693569,
 832273440279240704,
 832215909146226688,
 832215726631055365,
 832088576586297345,
 832040443403784192,
 832032802820481025,
 831939777352105988,
 831926988323639298,
 831911600680497154,
 831670449226514432,
 831650051525054464,
 831552930092285952,
 831322785565769729,
 831315979191906304,
 831309418084069378,
 831262627380748289,
 830956169170665475,
 830583320585068544,
 830173239259324417,
 830097400375152640,
 829878982036299777,
 829861396166877184,
 829501995190984704,
 829449946868879360,
 829374341691346946,
 829141528400556032,
 829011960981237760,
 828801551087042563,
 828770345708580865,
 828708714936930305,
 828650029636317184,
 828409743546925057,
 828408677031882754,
 828381636999917570,
 828376505180889089,
 828372645993398273,
 828361771580813312,
 828046555563323392,
 828011680017821696,
 827933404142436356,
 827653905312006145,
 827600520311402496,
 827324948884643840,
 827228250799742977,
 827199976799354881,
 826958653328592898,
 826848821049180160,
 826615380357632002,
 826598799820865537,
 826598365270007810,
 826476773533745153,
 826240494070030336,
 826204788643753985,
 826115272272650244,
 825876512159186944,
 825829644528148480,
 825535076884762624,
 825147591692263424,
 825120256414846976,
 825026590719483904,
 824796380199809024,
 824775126675836928,
 824663926340194305,
 824325613288833024,
 824297048279236611,
 824025158776213504,
 823939628516474880,
 823719002937630720,
 823699002998870016,
 823581115634085888,
 823333489516937216,
 823322678127919110,
 823269594223824897,
 822975315408461824,
 822872901745569793,
 822859134160621569,
 822647212903690241,
 822610361945911296,
 822489057087389700,
 822462944365645825,
 822244816520155136,
 822163064745328640,
 821886076407029760,
 821813639212650496,
 821765923262631936,
 821522889702862852,
 821421320206483457,
 821407182352777218,
 821153421864615936,
 821149554670182400,
 821107785811234820,
 821044531881721856,
 820837357901512704,
 820749716845686786,
 820690176645140481,
 820494788566847489,
 820446719150292993,
 820314633777061888,
 820078625395449857,
 820013781606658049,
 819952236453363712,
 819924195358416896,
 819711362133872643,
 819588359383371776,
 819347104292290561,
 819238181065359361,
 819227688460238848,
 819015337530290176,
 819015331746349057,
 819006400881917954,
 819004803107983360,
 818646164899774465,
 818627210458333184,
 818614493328580609,
 818588835076603904,
 818536468981415936,
 818307523543449600,
 818259473185828864,
 818145370475810820,
 817908911860748288,
 817827839487737858,
 817777686764523521,
 817536400337801217,
 817502432452313088,
 817423860136083457,
 817415592588222464,
 817181837579653120,
 817171292965273600,
 817120970343411712,
 817056546584727552,
 816829038950027264,
 816816676327063552,
 816697700272001025,
 816450570814898180,
 816336735214911488,
 816091915477250048,
 816062466425819140,
 816014286006976512,
 815990720817401858,
 815966073409433600,
 815745968457060357,
 815736392542261248,
 815639385530101762,
 815390420867969024,
 814986499976527872,
 814638523311648768,
 814578408554463233,
 814530161257443328,
 814153002265309185,
 813944609378369540,
 813910438903693312,
 813812741911748608,
 813800681631023104,
 813217897535406080,
 813202720496779264,
 813187593374461952,
 813172488309972993,
 813157409116065792,
 813142292504645637,
 813130366689148928,
 813127251579564032,
 813112105746448384,
 813096984823349248,
 813081950185472002,
 813066809284972545,
 813051746834595840,
 812781120811126785,
 812747805718642688,
 812709060537683968,
 812503143955202048,
 812466873996607488,
 812372279581671427,
 811985624773361665,
 811744202451197953,
 811647686436880384,
 811627233043480576,
 811386762094317568,
 810984652412424192,
 810896069567610880,
 810657578271330305,
 810284430598270976,
 810254108431155201,
 809920764300447744,
 809808892968534016,
 809448704142938112,
 809220051211603969,
 809084759137812480,
 808838249661788160,
 808733504066486276,
 808501579447930884,
 808344865868283904,
 808134635716833280,
 808106460588765185,
 808001312164028416,
 807621403335917568,
 807106840509214720,
 807059379405148160,
 807010152071229440,
 806629075125202948,
 806620845233815552,
 806576416489959424,
 806542213899489280,
 806242860592926720,
 806219024703037440,
 805958939288408065,
 805932879469572096,
 805826884734976000,
 805823200554876929,
 805520635690676224,
 805487436403003392,
 805207613751304193,
 804738756058218496,
 804475857670639616,
 804413760345620481,
 804026241225523202,
 803773340896923648,
 803692223237865472,
 803638050916102144,
 803380650405482500,
 803321560782307329,
 803276597545603072,
 802952499103731712,
 802624713319034886,
 802600418706604034,
 802572683846291456,
 802323869084381190,
 802265048156610565,
 802247111496568832,
 802239329049477120,
 802185808107208704,
 801958328846974976,
 801854953262350336,
 801538201127157760,
 801285448605831168,
 801167903437357056,
 801127390143516673,
 801115127852503040,
 800859414831898624,
 800855607700029440,
 800751577355128832,
 800513324630806528,
 800459316964663297,
 800443802682937345,
 800388270626521089,
 800188575492947969,
 800141422401830912,
 800018252395122689,
 799774291445383169,
 799757965289017345,
 799422933579902976,
 799308762079035393,
 799297110730567681,
 799063482566066176,
 798933969379225600,
 798925684722855936,
 798705661114773508,
 798701998996647937,
 798697898615730177,
 798694562394996736,
 798686750113755136,
 798682547630837760,
 798673117451325440,
 798665375516884993,
 798644042770751489,
 798628517273620480,
 798585098161549313,
 798576900688019456,
 798340744599797760,
 798209839306514432,
 797971864723324932,
 797545162159308800,
 797236660651966464,
 797165961484890113,
 796904159865868288,
 796865951799083009,
 796759840936919040,
 796563435802726400,
 796484825502875648,
 796387464403357696,
 796177847564038144,
 796149749086875649,
 796125600683540480,
 796116448414461957,
 796080075804475393,
 796031486298386433,
 795464331001561088,
 795400264262053889,
 795076730285391872,
 794983741416415232,
 794926597468000259,
 794355576146903043,
 794332329137291264,
 794205286408003585,
 793962221541933056,
 793845145112371200,
 793614319594401792,
 793601777308463104,
 793500921481273345,
 793286476301799424,
 793271401113350145,
 793256262322548741,
 793241302385262592,
 793226087023144960,
 793210959003287553,
 793195938047070209,
 793180763617361921,
 793165685325201412,
 793150605191548928,
 793135492858580992,
 793120401413079041,
 792913359805018113,
 792883833364439040,
 792773781206999040,
 792394556390137856,
 792050063153438720,
 791821351946420224,
 791784077045166082,
 791780927877898241,
 791774931465953280,
 791672322847637504,
 791406955684368384,
 791312159183634433,
 791026214425268224,
 790987426131050500,
 790946055508652032,
 790723298204217344,
 790698755171364864,
 790581949425475584,
 790337589677002753,
 790277117346975746,
 790227638568808452,
 789986466051088384,
 789960241177853952,
 789903600034189313,
 789628658055020548,
 789599242079838210,
 789530877013393408,
 789314372632018944,
 789280767834746880,
 789268448748703744,
 789137962068021249,
 788908386943430656,
 788765914992902144,
 788552643979468800,
 788412144018661376,
 788178268662984705,
 788150585577050112,
 788070120937619456,
 788039637453406209,
 787810552592695296,
 787717603741622272,
 787397959788929025,
 787322443945877504,
 787111942498508800,
 786963064373534720,
 786729988674449408,
 786709082849828864,
 786664955043049472,
 786595970293370880,
 786363235746385920,
 786286427768250368,
 786233965241827333,
 786051337297522688,
 786036967502913536,
 785927819176054784,
 785872687017132033,
 785639753186217984,
 785533386513321988,
 785515384317313025,
 785264754247995392,
 785170936622350336,
 784826020293709826,
 784517518371221505,
 784431430411685888,
 784183165795655680,
 784057939640352768,
 783839966405230592,
 783821107061198850,
 783695101801398276,
 783466772167098368,
 783391753726550016,
 783347506784731136,
 783334639985389568,
 783085703974514689,
 782969140009107456,
 782747134529531904,
 782722598790725632,
 782598640137187329,
 782305867769217024,
 782021823840026624,
 781955203444699136,
 781661882474196992,
 781655249211752448,
 781524693396357120,
 781308096455073793,
 781251288990355457,
 781163403222056960,
 780931614150983680,
 780858289093574656,
 780800785462489090,
 780601303617732608,
 780543529827336192,
 780496263422808064,
 780476555013349377,
 780459368902959104,
 780192070812196864,
 780092040432480260,
 780074436359819264,
 779834332596887552,
 779377524342161408,
 779124354206535695,
 779123168116150273,
 779056095788752897,
 778990705243029504,
 778774459159379968,
 778764940568104960,
 778748913645780993,
 778650543019483137,
 778624900596654080,
 778408200802557953,
 778396591732486144,
 778383385161035776,
 778286810187399168,
 778039087836069888,
 778027034220126208,
 777953400541634568,
 777885040357281792,
 777684233540206592,
 777641927919427584,
 777621514455814149,
 777189768882946048,
 776819012571455488,
 776813020089548800,
 776477788987613185,
 776249906839351296,
 776218204058357768,
 776201521193218049,
 776113305656188928,
 776088319444877312,
 775898661951791106,
 775842724423557120,
 775733305207554048,
 775729183532220416,
 775364825476165632,
 775350846108426240,
 775096608509886464,
 775085132600442880,
 774757898236878852,
 774639387460112384,
 774314403806253056,
 773985732834758656,
 773922284943896577,
 773704687002451968,
 773670353721753600,
 773547596996571136,
 773336787167145985,
 773308824254029826,
 773247561583001600,
 773191612633579521,
 772877495989305348,
 772826264096874500,
 772615324260794368,
 772581559778025472,
 772193107915964416,
 772152991789019136,
 772117678702071809,
 772114945936949249,
 772102971039580160,
 771908950375665664,
 771770456517009408,
 771500966810099713,
 771380798096281600,
 771171053431250945,
 771136648247640064,
 771102124360998913,
 771014301343748096,
 771004394259247104,
 770787852854652928,
 770772759874076672,
 770743923962707968,
 770655142660169732,
 770414278348247044,
 770293558247038976,
 770093767776997377,
 770069151037685760,
 769940425801170949,
 769695466921623552,
 769335591808995329,
 769212283578875904,
 768970937022709760,
 768909767477751808,
 768855141948723200,
 768609597686943744,
 768596291618299904,
 768554158521745409,
 768473857036525572,
 768193404517830656,
 767884188863397888,
 767754930266464257,
 767500508068192258,
 767191397493538821,
 767122157629476866,
 766864461642756096,
 766793450729734144,
 766714921925144576,
 766693177336135680,
 766423258543644672,
 766313316352462849,
 766078092750233600,
 766069199026450432,
 766008592277377025,
 765719909049503744,
 765669560888528897,
 765395769549590528,
 765371061932261376,
 765222098633691136,
 764857477905154048,
 764259802650378240,
 763956972077010945,
 763837565564780549,
 763183847194451968,
 763167063695355904,
 763103485927849985,
 762699858130116608,
 762471784394268675,
 762464539388485633,
 762316489655476224,
 762035686371364864,
 761976711479193600,
 761750502866649088,
 761745352076779520,
 761672994376806400,
 761599872357261312,
 761371037149827077,
 761334018830917632,
 761292947749015552,
 761227390836215808,
 761004547850530816,
 760893934457552897,
 760656994973933572,
 760641137271070720,
 760539183865880579,
 760521673607086080,
 760290219849637889,
 760252756032651264,
 760190180481531904,
 760153949710192640,
 759943073749200896,
 759923798737051648,
 759846353224826880,
 759793422261743616,
 759566828574212096,
 759557299618865152,
 759447681597108224,
 759446261539934208,
 759197388317847553,
 759159934323924993,
 759099523532779520,
 759047813560868866,
 758854675097526272,
 758828659922702336,
 758740312047005698,
 758474966123810816,
 758467244762497024,
 758405701903519748,
 758355060040593408,
 758099635764359168,
 758041019896193024,
 757741869644341248,
 757729163776290825,
 757725642876129280,
 757611664640446465,
 757597904299253760,
 757596066325864448,
 757400162377592832,
 757393109802180609,
 757354760399941633,
 756998049151549440,
 756939218950160384,
 756651752796094464,
 756526248105566208,
 756303284449767430,
 756288534030475264,
 756275833623502848,
 755955933503782912,
 755206590534418437,
 755110668769038337,
 754874841593970688,
 754856583969079297,
 754747087846248448,
 754482103782404096,
 754449512966619136,
 754120377874386944,
 754011816964026368,
 753655901052166144,
 753420520834629632,
 753398408988139520,
 753375668877008896,
 753298634498793472,
 753294487569522689,
 753039830821511168,
 753026973505581056,
 752932432744185856,
 752917284578922496,
 752701944171524096,
 752682090207055872,
 752660715232722944,
 752568224206688256,
 752519690950500352,
 752334515931054080,
 752309394570878976,
 752173152931807232,
 751950017322246144,

In [10]:
#We will now call the first tweet in our list to see what data gets returned
first_tweet = api.get_status(tweet_id[0])
first_tweet

{'created_at': 'Tue Aug 01 16:23:56 +0000 2017',
 'id': 892420643555336193,
 'id_str': '892420643555336193',
 'text': "This is Phineas. He's a mystical boy. Only ever appears in the hole of a donut. 13/10 https://t.co/MgUWQ76dJU",
 'truncated': False,
 'entities': {'hashtags': [],
  'symbols': [],
  'user_mentions': [],
  'urls': [],
  'media': [{'id': 892420639486877696,
    'id_str': '892420639486877696',
    'indices': [86, 109],
    'media_url': 'http://pbs.twimg.com/media/DGKD1-bXoAAIAUK.jpg',
    'media_url_https': 'https://pbs.twimg.com/media/DGKD1-bXoAAIAUK.jpg',
    'url': 'https://t.co/MgUWQ76dJU',
    'display_url': 'pic.twitter.com/MgUWQ76dJU',
    'expanded_url': 'https://twitter.com/dog_rates/status/892420643555336193/photo/1',
    'type': 'photo',
    'sizes': {'thumb': {'w': 150, 'h': 150, 'resize': 'crop'},
     'medium': {'w': 540, 'h': 528, 'resize': 'fit'},
     'small': {'w': 540, 'h': 528, 'resize': 'fit'},
     'large': {'w': 540, 'h': 528, 'resize': 'fit'}}}]},
 'extended_entities': {'media': [{'id': 892420639486877696,
    'id_str': '892420639486877696',
    'indices': [86, 109],
    'media_url': 'http://pbs.twimg.com/media/DGKD1-bXoAAIAUK.jpg',
    'media_url_https': 'https://pbs.twimg.com/media/DGKD1-bXoAAIAUK.jpg',
    'url': 'https://t.co/MgUWQ76dJU',
    'display_url': 'pic.twitter.com/MgUWQ76dJU',
    'expanded_url': 'https://twitter.com/dog_rates/status/892420643555336193/photo/1',
    'type': 'photo',
    'sizes': {'thumb': {'w': 150, 'h': 150, 'resize': 'crop'},
     'medium': {'w': 540, 'h': 528, 'resize': 'fit'},
     'small': {'w': 540, 'h': 528, 'resize': 'fit'},
     'large': {'w': 540, 'h': 528, 'resize': 'fit'}}}]},
 'source': '<a href="http://twitter.com/download/iphone" rel="nofollow">Twitter for iPhone</a>',
 'in_reply_to_status_id': None,
 'in_reply_to_status_id_str': None,
 'in_reply_to_user_id': None,
 'in_reply_to_user_id_str': None,
 'in_reply_to_screen_name': None,
 'user': {'id': 4196983835,
  'id_str': '4196983835',
  'name': 'WeRateDogs™',
  'screen_name': 'dog_rates',
  'location': '「 DM YOUR DOGS 」',
  'description': 'Your Only Source For Professional Dog Ratings Instagram and Facebook ➪ WeRateDogs partnerships@weratedogs.com ⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀',
  'url': 'https://t.co/N7sNNHSfPq',
  'entities': {'url': {'urls': [{'url': 'https://t.co/N7sNNHSfPq',
      'expanded_url': 'http://weratedogs.com',
      'display_url': 'weratedogs.com',
      'indices': [0, 23]}]},
   'description': {'urls': []}},
  'protected': False,
  'followers_count': 8209774,
  'friends_count': 12,
  'listed_count': 6281,
  'created_at': 'Sun Nov 15 21:41:29 +0000 2015',
  'favourites_count': 142589,
  'utc_offset': None,
  'time_zone': None,
  'geo_enabled': True,
  'verified': True,
  'statuses_count': 10471,
  'lang': None,
  'contributors_enabled': False,
  'is_translator': False,
  'is_translation_enabled': False,
  'profile_background_color': '000000',
  'profile_background_image_url': 'http://abs.twimg.com/images/themes/theme1/bg.png',
  'profile_background_image_url_https': 'https://abs.twimg.com/images/themes/theme1/bg.png',
  'profile_background_tile': False,
  'profile_image_url': 'http://pbs.twimg.com/profile_images/1112594177961844736/qQK8NJT-_normal.jpg',
  'profile_image_url_https': 'https://pbs.twimg.com/profile_images/1112594177961844736/qQK8NJT-_normal.jpg',
  'profile_banner_url': 'https://pbs.twimg.com/profile_banners/4196983835/1562002967',
  'profile_link_color': 'F5ABB5',
  'profile_sidebar_border_color': '000000',
  'profile_sidebar_fill_color': '000000',
  'profile_text_color': '000000',
  'profile_use_background_image': False,
  'has_extended_profile': False,
  'default_profile': False,
  'default_profile_image': False,
  'following': False,
  'follow_request_sent': False,
  'notifications': False,
  'translator_type': 'none'},
 'geo': None,
 'coordinates': None,
 'place': None,
 'contributors': None,
 'is_quote_status': False,
 'retweet_count': 8055,
 'favorite_count': 37368,
 'favorited': False,
 'retweeted': False,
 'possibly_sensitive': False,
 'possibly_sensitive_appealable': False,
 'lang': 'en'}

In [11]:
# Creating a text file and then looping over our tweet ids and writing each tweet to our txt file
'''with open('tweet_json.txt', 'w', encoding='utf8') as f:
    for id in tweet_id:
        try:
            page = api.get_status(id, tweet_mode = 'extended')
            favorites = page['favorite_count']
            retweet_count = page['retweet_count']
            f.write(str(id) + ' ' + str(favorites) + ' ' + str(retweet_count) + '\n')                

        except Exception as e:
            failed_tweets.append(id)'''

"with open('tweet_json.txt', 'w', encoding='utf8') as f:\n    for id in tweet_id:\n        try:\n            page = api.get_status(id, tweet_mode = 'extended')\n            favorites = page['favorite_count']\n            retweet_count = page['retweet_count']\n            f.write(str(id) + ' ' + str(favorites) + ' ' + str(retweet_count) + '\n')                \n\n        except Exception as e:\n            failed_tweets.append(id)"

In [13]:
# We'll now review our list of exceptions
#failed_tweets

In [14]:
# Create a pandas dataframe to house our data
twtr_df = pd.DataFrame(columns=['tweet_id', 'favorite_count', 'retweet_count'])

In [15]:
# We'll read our text file line by line and extract the necessary info into a pandas dataframe
with open('tweet_json.txt', 'r') as f:
    for line in f:
        tweet_id, favorite_count, retweet_count = line[:-1].split(' ')
        twtr_df = twtr_df.append({'tweet_id':tweet_id, 'retweet_count':retweet_count, 'favorite_count':favorite_count},ignore_index=True)

In [16]:
# Now we inspect our dataframe to ensure it was all done correctly
twtr_df.sample(5)

                tweet_id favorite_count retweet_count
563   800443802682937345              0          4610
809   768909767477751808              0          2835
2159  668994913074286592            438           230
85    875747767867523072          24377          4109
732   779123168116150273          12371          3881

# Assessing

### Twitter Archive Enhanced

In [17]:
#Checking for missing data - Twitter Archive Enhanced
tac.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2356 entries, 0 to 2355
Data columns (total 17 columns):
tweet_id                      2356 non-null int64
in_reply_to_status_id         78 non-null float64
in_reply_to_user_id           78 non-null float64
timestamp                     2356 non-null object
source                        2356 non-null object
text                          2356 non-null object
retweeted_status_id           181 non-null float64
retweeted_status_user_id      181 non-null float64
retweeted_status_timestamp    181 non-null object
expanded_urls                 2297 non-null object
rating_numerator              2356 non-null int64
rating_denominator            2356 non-null int64
name                          2356 non-null object
doggo                         2356 non-null object
floofer                       2356 non-null object
pupper                        2356 non-null object
puppo                         2356 non-null object
dtypes: float64(4), int64(3), object(10)
memory usage: 313.0+ KB

The first thing that jumps out at me is that 181 rows contain a value in retweeted_status_id. There are most likely retweets in this data set which explains at least a portion of the discrepancy between the rows in this data set and the image prediction one.

A few more obvious items to note are:
 - that timestamp is formatted as a string
 - tweet_id should be formatted as a string
 - doggo, floofer, pupper, puppo should be consolidated into one column

In [18]:
#We'll check our twitter archive data set to check for duplicated tweet ids
tac[tac.tweet_id.duplicated()]

Empty DataFrame
Columns: [tweet_id, in_reply_to_status_id, in_reply_to_user_id, timestamp, source, text, retweeted_status_id, retweeted_status_user_id, retweeted_status_timestamp, expanded_urls, rating_numerator, rating_denominator, name, doggo, floofer, pupper, puppo]
Index: []

It appears as though we do not have duplicate tweet ids in this dataset

In [19]:
# We'll use value_counts to inspect our numerator column
tac.rating_numerator.value_counts().sort_index()

0         2
1         9
2         9
3        19
4        17
5        37
6        32
7        55
8       102
9       158
10      461
11      464
12      558
13      351
14       54
15        2
17        1
20        1
24        1
26        1
27        1
44        1
45        1
50        1
60        1
75        2
80        1
84        1
88        1
99        1
121       1
143       1
144       1
165       1
182       1
204       1
420       2
666       1
960       1
1776      1
Name: rating_numerator, dtype: int64

It seems odd that we have scores as high as 1776, this definitely seems like it's a quality issue.

In [20]:
# We'll use value_counts to inspect our denominator column
tac.rating_denominator.value_counts().sort_index()

0         1
2         1
7         1
10     2333
11        3
15        1
16        1
20        2
40        1
50        3
70        1
80        2
90        1
110       1
120       1
130       1
150       1
170       1
Name: rating_denominator, dtype: int64

The denominator column also appears to have an issue. All rows should contain a denominator of 10.

In [21]:
# Using Value counts to inspect the name column
tac.name.value_counts()

None         745
a             55
Charlie       12
Cooper        11
Oliver        11
Lucy          11
Lola          10
Tucker        10
Penny         10
Winston        9
Bo             9
Sadie          8
the            8
Toby           7
Daisy          7
Buddy          7
Bailey         7
an             7
Bella          6
Milo           6
Jack           6
Koda           6
Rusty          6
Scout          6
Leo            6
Jax            6
Dave           6
Oscar          6
Stanley        6
Sunny          5
            ...
Karll          1
Timofy         1
Crawford       1
Carll          1
Zeus           1
Sparky         1
Tedrick        1
Eugene         1
Tito           1
Lucky          1
Blue           1
Timber         1
Bayley         1
Freddery       1
Gert           1
Ulysses        1
Kody           1
Dido           1
Lorelei        1
Scruffers      1
Aja            1
Sage           1
Pluto          1
Tess           1
Winifred       1
Wafer          1
Claude         1
Devón          1
Cecil          1
Traviss        1
Name: name, Length: 957, dtype: int64

745 Rows have "None" in the name field, 55 have the name "a" that doesn't seem correct. We also have inconsistencies in terms of using upper and lower case for dog names.

In [22]:
# Use the is null function to find rows that have missing photos
np.where(pd.isnull(tac.expanded_urls))

(array([  30,   55,   64,  113,  148,  179,  185,  186,  188,  189,  218,
         228,  234,  274,  290,  291,  313,  342,  346,  375,  387,  409,
         427,  498,  513,  570,  576,  611,  701,  707,  843,  857,  967,
        1005, 1080, 1295, 1345, 1445, 1446, 1474, 1479, 1497, 1523, 1598,
        1605, 1618, 1663, 1689, 1774, 1819, 1844, 1895, 1905, 1914, 1940,
        2038, 2149, 2189, 2298]),)

In [23]:
# Using iloc to confirm that row 30 is missing a value in the expanded url column
tac.iloc[30]

tweet_id                                                     886267009285017600
in_reply_to_status_id                                               8.86266e+17
in_reply_to_user_id                                                 2.28118e+09
timestamp                                             2017-07-15 16:51:35 +0000
source                        <a href="http://twitter.com/download/iphone" r...
text                          @NonWhiteHat @MayhewMayhem omg hello tanner yo...
retweeted_status_id                                                         NaN
retweeted_status_user_id                                                    NaN
retweeted_status_timestamp                                                  NaN
expanded_urls                                                               NaN
rating_numerator                                                             12
rating_denominator                                                           10
name                                                                       None
doggo                                                                      None
floofer                                                                    None
pupper                                                                     None
puppo                                                                      None
Name: 30, dtype: object

### Image Predictions

#### Column Headers

(From the Udacity Project Motivation page) 

- tweet_id is the last part of the tweet URL after "status/"
- p1 is the algorithm's #1 prediction for the image in the tweet
- p1_conf is how confident the algorithm is in its #1 prediction
- p1_dog is whether or not the #1 prediction is a breed of dog
- p2 is the algorithm's second most likely prediction → Labrador
- p2_conf is how confident the algorithm is in its #2 prediction
- p2_dog is whether or not the #2 prediction is a breed of dog

In [24]:
#Checking for missing data - Image Predictions
img_pred.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2075 entries, 0 to 2074
Data columns (total 12 columns):
tweet_id    2075 non-null int64
jpg_url     2075 non-null object
img_num     2075 non-null int64
p1          2075 non-null object
p1_conf     2075 non-null float64
p1_dog      2075 non-null bool
p2          2075 non-null object
p2_conf     2075 non-null float64
p2_dog      2075 non-null bool
p3          2075 non-null object
p3_conf     2075 non-null float64
p3_dog      2075 non-null bool
dtypes: bool(3), float64(3), int64(2), object(4)
memory usage: 152.1+ KB

Our image predictions dataset has incorrect data types for tweet_id. It's formatted as an int so we'll need to convert to a string.

In [25]:
# Sampling our data
img_pred.sample(5)

,tweet_id,jpg_url,img_num,p1,p1_conf,p1_dog,p2,p2_conf,p2_dog,p3,p3_conf,p3_dog
1728,820690176645140481,https://pbs.twimg.com/media/C2OtWr0VQAEnS9r.jpg,2,West_Highland_white_terrier,0.872064,True,kuvasz,0.059526,True,Samoyed,0.037400,True
1149,731285275100512256,https://pbs.twimg.com/media/CiYME3tVAAENz99.jpg,1,Pembroke,0.967103,True,Cardigan,0.021126,True,Chihuahua,0.002231,True
2041,885311592912609280,https://pbs.twimg.com/media/C4bTH6nWMAAX_bJ.jpg,1,Labrador_retriever,0.908703,True,seat_belt,0.057091,False,pug,0.011933,True
1691,815966073409433600,https://pbs.twimg.com/ext_tw_video_thumb/81596...,1,Tibetan_mastiff,0.506312,True,Tibetan_terrier,0.295690,True,otterhound,0.036251,True
1805,832273440279240704,https://pbs.twimg.com/ext_tw_video_thumb/83227...,1,Pembroke,0.134081,True,ice_bear,0.051928,False,pug,0.044311,True

As part of my visual assessment, I opened the image predictions file in Excel. When exploring the p1, p2 and p3 columns something that immediately jumped out at me is that a lot of the supposed breeds are not even dogs (Ex: hen, box_turtle, Newfoundland, ox, guinea_pig, etc.) I'm not quite sure what to do with this but it's something to take note of.

## Quality

### TAC

- Not all rows are original tweets. Some of our rows are retweets
- Remove all columns that are related to retweets. (retweeted_status_id, retweeted_status_user_id, retweeted_status_timestamp, in_reply_to_status_id, in_reply_to_user_id)
- There seems to be outliers in our rating_numerator column, we have values as high as 1776.
- Our timestamp column is not the right data type. It's currently a string, it should be a datetime data type. 
- We also have incorrect values for the rating_denominator column. All values should be 10.
- In our name column, we have 745 Rows that have the value "None" and 55 have the name "a".
- 59 values in the expanded_url column are null, drop this column as it doesn't provide us much value
- tweet_ID is an int, it should be formatted as string
- create a rating column by dividing numerator by denominator and then drop those two columns
- after merging doggo, floofer, pupper and puppo into a single column, convert to categorical data type

### Image Predictions

- tweet_id is an int, should be formatted as a string
- change column names to more informative names
- drop p2 and p3 columns as they serve no purpose
- change breed names to title case and data type to categorical

## Tidiness

- In the tac dataset, the following columns doggo, floofer, pupper and puppo should be consolidated into a single column. 
- The majority of the columns will not be useful for our analysis, we should be able to consolidate into a single table.

# Clean

I'll begin by making copies of all my datasets to keep the originals unaltered.

In [430]:
# making copies of dataframes
twtr_arc_clean = tac.copy()
twtr_df_clean = twtr_df.copy()
img_clean = img_pred.copy()

### Define

Convert tweet_id in twtr_arc_clean and img_clean from an int to a string

### Code

In [431]:
# converting tweet ids to string
twtr_arc_clean.tweet_id = twtr_arc_clean.tweet_id.astype(str)
img_clean.tweet_id = img_clean.tweet_id.astype(str)

### Test

In [432]:
# Print data types to confirm it was done correctly
print(twtr_arc_clean.tweet_id.dtype)
print(img_clean.tweet_id.dtype)

object
object

### Define

Convert timestamp in twtr_arc_clean to datetime

### Code

In [433]:
twtr_arc_clean.timestamp = pd.to_datetime(twtr_arc_clean['timestamp'])

### Test

In [434]:
twtr_arc_clean.timestamp.dtype

dtype('<M8[ns]')

### Define

We will now remove all rows that contain retweets, and then remove the unnecessary columns relating to retweets.

### Code

In [435]:
twtr_arc_clean = twtr_arc_clean[twtr_arc_clean.retweeted_status_id.isnull()]

In [436]:
twtr_arc_clean.drop(['retweeted_status_id',
                     'retweeted_status_user_id',
                     'retweeted_status_timestamp',
                     'in_reply_to_status_id',
                     'in_reply_to_user_id'], axis=1, inplace=True)

### Test

In [437]:
twtr_arc_clean.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 2175 entries, 0 to 2355
Data columns (total 12 columns):
tweet_id              2175 non-null object
timestamp             2175 non-null datetime64[ns]
source                2175 non-null object
text                  2175 non-null object
expanded_urls         2117 non-null object
rating_numerator      2175 non-null int64
rating_denominator    2175 non-null int64
name                  2175 non-null object
doggo                 2175 non-null object
floofer               2175 non-null object
pupper                2175 non-null object
puppo                 2175 non-null object
dtypes: datetime64[ns](1), int64(2), object(9)
memory usage: 220.9+ KB

### Define

Remove all rows with a numerator above 15, remove all rows with a denominator that is not 10.

### Code

In [438]:
twtr_arc_clean = twtr_arc_clean[twtr_arc_clean.rating_numerator < 16]

In [439]:
twtr_arc_clean = twtr_arc_clean[twtr_arc_clean.rating_denominator == 10]

### Test

In [440]:
twtr_arc_clean.rating_numerator.value_counts()

12    500
10    442
11    425
13    307
9     155
8      98
7      53
14     43
5      36
6      32
3      19
4      15
2       9
1       7
0       2
15      1
Name: rating_numerator, dtype: int64

In [441]:
twtr_arc_clean.rating_denominator.value_counts()

10    2144
Name: rating_denominator, dtype: int64

### Define

Create a new rating column by dividing the numerator by the denominator, multiplying by ten then dropping the individual columns

### Code

In [442]:
twtr_arc_clean['rating'] = (twtr_arc_clean.rating_numerator / twtr_arc_clean.rating_denominator) * 10

In [443]:
twtr_arc_clean.rating = twtr_arc_clean.rating.astype('int')

In [444]:
twtr_arc_clean.drop(['rating_numerator',
                     'rating_denominator'],
                      axis=1, inplace=True)

### Test

In [445]:
twtr_arc_clean['rating'].value_counts()

12    500
10    442
11    425
13    307
9     155
8      98
7      53
14     43
5      36
6      32
3      19
4      15
2       9
1       7
0       2
15      1
Name: rating, dtype: int64

In [446]:
twtr_arc_clean.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 2144 entries, 0 to 2355
Data columns (total 11 columns):
tweet_id         2144 non-null object
timestamp        2144 non-null datetime64[ns]
source           2144 non-null object
text             2144 non-null object
expanded_urls    2094 non-null object
name             2144 non-null object
doggo            2144 non-null object
floofer          2144 non-null object
pupper           2144 non-null object
puppo            2144 non-null object
rating           2144 non-null int64
dtypes: datetime64[ns](1), int64(1), object(9)
memory usage: 201.0+ KB

### Define

In the name field, we have various names that are not exactly dog names (a, the, an). While this list might not be comprehensive I have decided to only rename this selection as they are reoccuring. From my perspective the amount of effort required to go item by item trying to find all instances of name errors would consume a large amount of time and would not bring us much value, in my opinion. I will be changing the 3 instances earlier indicated to the value "None". I will then convert all names to title case.

### Code

In [447]:
# Using the replace function to convert incorrect names to None
twtr_arc_clean.name.replace(['a', 'the', 'an'], 'None', inplace=True)

In [448]:
# Converting our names to title case
twtr_arc_clean.name.str.title()

0        Phineas
1          Tilly
2         Archie
3          Darla
4       Franklin
5           None
6            Jax
7           None
8           Zoey
9         Cassie
10          Koda
11         Bruno
12          None
13           Ted
14        Stuart
15        Oliver
16           Jim
17          Zeke
18       Ralphus
20        Gerald
21       Jeffrey
22          Such
23        Canela
24          None
25          None
26          Maya
27        Mingus
28         Derek
29        Roscoe
30          None
          ...
2325      Walter
2326       Quite
2327        None
2328        None
2329        None
2330        None
2331        None
2332        None
2333        None
2334        None
2336        None
2337        None
2338        None
2339        None
2340        None
2341        None
2342        None
2343        None
2344        None
2345        None
2346        None
2347        None
2348        None
2349        None
2350        None
2351        None
2352        None
2353        None
2354        None
2355        None
Name: name, Length: 2144, dtype: object

### Test

In [449]:
# Using Value counts to check our work
twtr_arc_clean.name.value_counts()

None        725
Charlie      11
Lucy         11
Cooper       10
Oliver       10
Tucker        9
Penny         9
Lola          8
Winston       8
Sadie         8
Daisy         7
Toby          7
Koda          6
Bo            6
Bella         6
Oscar         6
Jax           6
Stanley       6
Bailey        6
Buddy         5
Leo           5
Rusty         5
Louis         5
Chester       5
Scout         5
Bentley       5
Milo          5
Dave          5
Gus           4
very          4
           ...
Edgar         1
Rufio         1
Ed            1
Stark         1
Dido          1
Ulysses       1
Zuzu          1
Gert          1
Georgie       1
Dylan         1
Bobb          1
Asher         1
Sweets        1
Clifford      1
Frönq         1
Shiloh        1
Sobe          1
Herschel      1
Bones         1
Linus         1
Farfle        1
Pilot         1
Edd           1
Eugene        1
Lucky         1
Blue          1
Timber        1
Bayley        1
Freddery      1
Dawn          1
Name: name, Length: 949, dtype: int64

### Define

Drop expanded_url column

### Code

In [450]:
# Dropping expanded_urls column
twtr_arc_clean.drop(['expanded_urls'],
                      axis=1, inplace=True)

### Test

In [451]:
twtr_arc_clean.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 2144 entries, 0 to 2355
Data columns (total 10 columns):
tweet_id     2144 non-null object
timestamp    2144 non-null datetime64[ns]
source       2144 non-null object
text         2144 non-null object
name         2144 non-null object
doggo        2144 non-null object
floofer      2144 non-null object
pupper       2144 non-null object
puppo        2144 non-null object
rating       2144 non-null int64
dtypes: datetime64[ns](1), int64(1), object(8)
memory usage: 184.2+ KB

## Image Predictions

### Define

Dropping p2 and p3 columns

### Code

In [452]:
img_clean.drop(['p2',
               'p2_conf',
               'p2_dog',
               'p3',
               'p3_conf',
               'p3_dog'],
                axis=1, inplace=True)

### Test

In [453]:
img_clean.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2075 entries, 0 to 2074
Data columns (total 6 columns):
tweet_id    2075 non-null object
jpg_url     2075 non-null object
img_num     2075 non-null int64
p1          2075 non-null object
p1_conf     2075 non-null float64
p1_dog      2075 non-null bool
dtypes: bool(1), float64(1), int64(1), object(3)
memory usage: 83.2+ KB

### Define

- Changing column names to be more descriptive.
- Changing breed names in column p1 to title case
- Changing p1 to categorical data type
- Changing confidence_level to int and multiplying 100

### Code

In [454]:
img_clean.rename(columns = {'p1': 'breed_prediction', 
                            'p1_conf': 'confidence_level', 
                            'p1_dog': 'is_dog'}, inplace = True)

In [455]:
img_clean.breed_prediction = img_clean.breed_prediction.str.title()

In [456]:
img_clean.breed_prediction = img_clean.breed_prediction.astype('category')

In [458]:
img_clean.confidence_level = img_clean.confidence_level * 100

In [459]:
img_clean.confidence_level = img_clean.confidence_level.astype('int')

In [461]:
img_clean.confidence_level

0       46
1       50
2       59
3       40
4       56
5       65
6       93
7       69
8       96
9       20
10      77
11      50
12      26
13      48
14      19
15      58
16      29
17      96
18       8
19      17
20      85
21      91
22      41
23      85
24      33
25      99
26      32
27      97
28      52
29      40
        ..
2045    99
2046    73
2047    30
2048    79
2049    73
2050    33
2051    80
2052    13
2053    82
2054    99
2055    80
2056    70
2057    46
2058    71
2059    62
2060    95
2061    99
2062    96
2063    37
2064    95
2065    51
2066    48
2067    56
2068    34
2069    42
2070    55
2071    17
2072    71
2073    32
2074     9
Name: confidence_level, Length: 2075, dtype: int64

### Test

In [462]:
# Checking to ensure columns were renamed correctly and data type was properly changed
img_clean.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2075 entries, 0 to 2074
Data columns (total 6 columns):
tweet_id            2075 non-null object
jpg_url             2075 non-null object
img_num             2075 non-null int64
breed_prediction    2075 non-null category
confidence_level    2075 non-null int64
is_dog              2075 non-null bool
dtypes: bool(1), category(1), int64(2), object(2)
memory usage: 84.0+ KB

In [463]:
# Confirming our breed prediction column is now title case
img_clean.breed_prediction

0            Welsh_Springer_Spaniel
1                           Redbone
2                   German_Shepherd
3               Rhodesian_Ridgeback
4                Miniature_Pinscher
5              Bernese_Mountain_Dog
6                        Box_Turtle
7                              Chow
8                     Shopping_Cart
9                  Miniature_Poodle
10                 Golden_Retriever
11                    Gordon_Setter
12                     Walker_Hound
13                              Pug
14                       Bloodhound
15                            Lhasa
16                   English_Setter
17                              Hen
18                 Desktop_Computer
19                Italian_Greyhound
20                      Maltese_Dog
21                 Three-Toed_Sloth
22                               Ox
23                 Golden_Retriever
24                         Malamute
25                       Guinea_Pig
26      Soft-Coated_Wheaten_Terrier
27                        Chihuahua
28          Black-And-Tan_Coonhound
29                             Coho
                   ...
2045                 French_Bulldog
2046                    Convertible
2047                         Kuvasz
2048                      Chihuahua
2049                        Samoyed
2050               Mexican_Hairless
2051                       Pembroke
2052                      Limousine
2053                         Basset
2054                 French_Bulldog
2055                       Pembroke
2056                 Siberian_Husky
2057               Golden_Retriever
2058               Golden_Retriever
2059                        Whippet
2060               Golden_Retriever
2061                 French_Bulldog
2062                       Pembroke
2063                 French_Bulldog
2064                        Samoyed
2065                       Pembroke
2066                  Irish_Terrier
2067                     Pomeranian
2068                    Appenzeller
2069       Chesapeake_Bay_Retriever
2070                         Basset
2071                    Paper_Towel
2072                      Chihuahua
2073                      Chihuahua
2074                         Orange
Name: breed_prediction, Length: 2075, dtype: category
Categories (378, object): [Acorn_Squash, Afghan_Hound, African_Crocodile, African_Grey, ..., Wooden_Spoon, Wool, Yorkshire_Terrier, Zebra]

## Tidiness

### Define

Consolidate columns doggo, floofer, pupper and puppo into a single column

### Code

In [464]:
# Replace None in dog stages with no value
twtr_arc_clean.pupper.replace('None', '', inplace = True)
twtr_arc_clean.doggo.replace('None', '', inplace = True)
twtr_arc_clean.puppo.replace('None', '', inplace = True)
twtr_arc_clean.floofer.replace('None', '', inplace = True)

In [465]:
# Creating a dog stage column that combines all four into one
twtr_arc_clean['dog_stage'] = twtr_arc_clean.pupper + twtr_arc_clean.doggo + \
twtr_arc_clean.puppo + twtr_arc_clean.floofer

In [466]:
# Checking out our results
twtr_arc_clean.dog_stage.value_counts()

                1801
pupper           223
doggo             75
puppo             24
pupperdoggo       10
floofer            9
doggofloofer       1
doggopuppo         1
Name: dog_stage, dtype: int64

In [467]:
# Renaming our dog stages
twtr_arc_clean.dog_stage.replace('', 'None', inplace = True)
twtr_arc_clean.dog_stage.replace('pupper', 'Pupper', inplace = True)
twtr_arc_clean.dog_stage.replace('floofer', 'Floofer', inplace = True)
twtr_arc_clean.dog_stage.replace('doggo', 'Doggo', inplace = True)
twtr_arc_clean.dog_stage.replace('puppo', 'Puppo', inplace = True)
twtr_arc_clean.dog_stage.replace('doggofloofer', 'Doggo/Floofer', inplace = True)
twtr_arc_clean.dog_stage.replace('doggopupper', 'Doggo/Pupper', inplace = True)
twtr_arc_clean.dog_stage.replace('doggopuppo', 'Doggo/Puppo', inplace = True)

In [468]:
twtr_arc_clean.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 2144 entries, 0 to 2355
Data columns (total 11 columns):
tweet_id     2144 non-null object
timestamp    2144 non-null datetime64[ns]
source       2144 non-null object
text         2144 non-null object
name         2144 non-null object
doggo        2144 non-null object
floofer      2144 non-null object
pupper       2144 non-null object
puppo        2144 non-null object
rating       2144 non-null int64
dog_stage    2144 non-null object
dtypes: datetime64[ns](1), int64(1), object(9)
memory usage: 201.0+ KB

In [469]:
# Dropping our four dog stage columns
twtr_arc_clean.drop(['doggo',
                     'floofer',
                     'pupper',
                     'puppo'],
                      axis=1, inplace=True)

In [470]:
# Changing column to categorical
twtr_arc_clean.dog_stage = twtr_arc_clean.dog_stage.astype('category')

### Test

In [471]:
# We're now checking our work
twtr_arc_clean.dog_stage.value_counts()

None             1801
Pupper            223
Doggo              75
Puppo              24
pupperdoggo        10
Floofer             9
Doggo/Puppo         1
Doggo/Floofer       1
Name: dog_stage, dtype: int64

In [472]:
twtr_arc_clean.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 2144 entries, 0 to 2355
Data columns (total 7 columns):
tweet_id     2144 non-null object
timestamp    2144 non-null datetime64[ns]
source       2144 non-null object
text         2144 non-null object
name         2144 non-null object
rating       2144 non-null int64
dog_stage    2144 non-null category
dtypes: category(1), datetime64[ns](1), int64(1), object(4)
memory usage: 119.7+ KB

### Define

We will now merge our all 3 tabs into a single one, then drop any columns that we will not be needing for our analysis.

### Code

In [473]:
twitter_archive_master = twtr_arc_clean.merge(twtr_df_clean, on = 'tweet_id', how ='inner')

In [474]:
twitter_archive_master = twitter_archive_master.merge(img_clean, on = 'tweet_id', how = 'inner')

In [475]:
# We'll now drop source and text as I do not anticipate using these two columns for analysis
twitter_archive_master.drop(['source','text'], axis=1, inplace=True)

### Test

In [476]:
twitter_archive_master.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 1965 entries, 0 to 1964
Data columns (total 12 columns):
tweet_id            1965 non-null object
timestamp           1965 non-null datetime64[ns]
name                1965 non-null object
rating              1965 non-null int64
dog_stage           1965 non-null category
favorite_count      1965 non-null object
retweet_count       1965 non-null object
jpg_url             1965 non-null object
img_num             1965 non-null int64
breed_prediction    1965 non-null category
confidence_level    1965 non-null int64
is_dog              1965 non-null bool
dtypes: bool(1), category(2), datetime64[ns](1), int64(3), object(5)
memory usage: 174.5+ KB

### Define

I'm gonna drop all rows that have a value of false in the is_dog column then drop the column itself. That way our analysis is based only on dogs that our prediction model was able to more accurately assess.

### Code

In [490]:
twitter_archive_master = twitter_archive_master[twitter_archive_master.is_dog != False]

In [492]:
twitter_archive_master.drop('is_dog', axis=1, inplace=True)

### Test

In [488]:
twitter_archive_master.is_dog.value_counts()

True    1453
Name: is_dog, dtype: int64

In [493]:
twitter_archive_master.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 1453 entries, 1 to 1964
Data columns (total 11 columns):
tweet_id            1453 non-null object
timestamp           1453 non-null datetime64[ns]
name                1453 non-null object
rating              1453 non-null int64
dog_stage           1453 non-null category
favorite_count      1453 non-null object
retweet_count       1453 non-null object
jpg_url             1453 non-null object
img_num             1453 non-null int64
breed_prediction    1453 non-null category
confidence_level    1453 non-null int64
dtypes: category(2), datetime64[ns](1), int64(3), object(5)
memory usage: 131.1+ KB

In [494]:
# Output our file to CSV before moving on to analysis
twitter_archive_master.to_csv('twitter_archive_master.csv', index=False)

<b> Now that we have cleaned our data we can finally move on to some analysis! </b>

## Analysis

While working through this dataset some of the questions that have piqued my interest are as follows:
- What are the most common breeds?
- Is there a correlation between breed and rating?
- What is the distribution for dog ratings?
- Which dogs have the highest favorite and retweet count?
- What are the most common dog names?